@charset "utf-8";
/* Stylesheet for my website
   Author: Micah Bakkum
   Date:   05/21/2019
   */


/*     Mobile devices 0-480px        */

@media only screen and (max-width: 480px) {
	/*M5LO3 Use media queries to format a page differently for phones vs. PCs. 
	(CSS, note where these are in your CSS and describe the overall impact they have on the site)
	In this section I've altered the list so it condenses allowing my other flex display to move up when the screen has less space*/
	
	section#mainmenu ul.menu {
		background-color: blue;
		float: left;
	}
	section#mainmenu ul.menu li {
		width: 20%;
	}

/*     Mobile devices 481px+        */

@media only screen and (min-width: 481px) {
	table { 
		font-size: 1.1em;
	}
}