@charset "utf-8";
/* Stylesheet for my website
   Author: Micah Bakkum
   Date:   06/11/2019
   */

/* reset styles */
ol { 
	list-style: none;
}

/*main page styles */
html { 
	background-color: brown;
	background: radial-gradient(circle closest-corner at 10% 15%, yellow 5%, aqua 15%);
}

/* figure box style */
figure img {
	display: block;
	height: 400px;
	width: 100%;
}

figure figcaption {
	background-color: white;
	color: black;
	text-align: center;
}

/*body styles */
/* M8LO10 Demonstrate a CSS animation or transition (CSS, identify which is being done and its impact on the rendered HTML; 
note it has to include a time aspect, not be immediate)
The transition here adds emphasis on the body as the central focus of the eyes wherein all the information will be found */
body {
	color: rgb(31,91,211);
	background-color: silver;
	font-family: Verdana, Geneva, sans-serif;
	display: table;
	transition: background-color 3s;
}
	
p {
	Padding: 20px 5px 5px 10px;
	color: black;
	text-align: center;
	font-size: 200%;
}

section {
	color: white;
}

footer {
	background-color: black;
	border-radius: 80px 40px;
	text-align: center;
	color: white;
}

/* Heading styles */
h1 {
	color: sienna;
	background-color: rgb(255,255,255);
}

h1.skill { 
	color: brown;
}

blockquote {
	color: green;
	background-color: rgb(255, 165, 0);
}

blockquote:first-of-type {
	color: red;
}

blockquote:last-of-type {
	color: white;
}

blockquote::first-letter {
	font-family: 'Times New Roman', Times, serif;
	font-size: 200%;
}

h2 {
	color: white;
	background-color: sienna;
}

/* Navigation styles */

nav > ul > li {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.5em;	
	text-align: center;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
	color: green;
	text-decoration: none;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
	color: white;
	text-decoration: underline;
}

a[href] {
	color: white;
}

/*Section styles */

section#benefit1 {
	font-size: 1.2em;
	text-align: center;
}

section#benefit2 {
	font-size: 1.2em;
	text-align: left;
}

section#benefit3 {
	font-size: 0.8em;
	text-align: center;

}

section#benefit4 {
	font-size: 1.2em;
	text-align: right;
}

section#benefit4 h1 p {
	position: inherit;
}

section#benefit1 h1 {
	position: fixed;
}

body header div {
	position: relative;
	top: 200px;
	left: 100px;
}

/* table styles */ 

table {
	line-height: 2em;
	padding: 10px;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	background-color: gold;
	border: 3px solid black;
}

table th {
	font-size: 2em;
	font-weight: bold;
}

table thead tr th {
	background-color: white;
	color: brown
}

/* hover / mobile styles */

a#navicon {
	display: none;
}

ul.submenu {
	display: none;
}

a.submenuTitle:hover+ul.submenu, ul.submenu:hover {
	display: block;
}

section div h1 {
	color: white;
	background-color: sienna;
}

section#mainmenu {
	background-color: brown;
}

ul.submenu {
	background-color: black;
}

ul {
	list-style-type: none;
}

div#fam1 {
	background: white;
	color: brown;
	height: 10%;
	width: 10%;
}

div#fam2 {
	background: black;
	color: red;
	height: 30%;
	width: 30%;
	flex-basis: 300px;
}

div#fam3 {
	background: blue;
	color: green;
	height: 10%;
	width: 10%;
}

div#fam4 {
	background: tan;
	color: white;
	height: 10%;
	width: 10%;
}

div#fam5 {
	background: crimson;
	color: gold;
	height: 10%;
	width: 10%;
}

div#classifications {
	display: -webkit-flex;
	display :flex;
	border: 2px solid black;
	justify-content: space-between;
}

form {
	background-color: tan;
}
	
/* M7LO11 Demonstrate how to format a form with CSS (group your form styles together in your CSS file, and document their overall impact on the form)
Using these formating features is what actually creates the blocks, outlines and spaces for the form to actually look like an area where inputs are made,
the coloring of the different areas (border, background) help accentuate different areas of importanse on the form, and having the inputs floated left leaves the door
open for a possible result function to appear on the right end of the element later on, or it could be filled with an image for example.*/

label {
	background-color: cyan;
	border: 3px solid black;
	clear: left;
	color: black;
	display: block;
	float: left;
	width: 300px;
	margin: 5px 5px 5px 5px;
}

form input, select, textarea {
	float: left;
	border: 3px solid brown;
	width: 300px;
	margin: 5px 5px 5px 5px;
}

/* media styles */

/* M8LO12 Demonstrate how to format media with CSS (CSS, group your media styles together and describe their overall impact on the media feature of your page) 
Here I've placed accented the different areas of audio clips by adding borders and made layout decisions which let them be placed closer to each other on screen.  Grouping them
in an efficient way presents them cleaner and makes it easier for a visitor to find what embedded media areas are and make a decision if they want to listen/watch anything.
Having a separate background color helps visually set this section of the page apart so that a visitor knows this is a media sample section of the page.*/
audio {
	border: 3px solid black;
}

iframe {
	width: 50%;
}

#audio {
	float: left;
}

#video {
	float: right;
	width: 800px;
}

#media {
	background: linear-gradient(white,green,yellow);
}

#media::after {
	clear: both;
	content: "";
	display: table;
}

/*https://www.rapidtables.com/convert/color/rgb-to-hsl.html color translator being cited, not sure if that's the proper way or not, but I'm annotating it*/